@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");
body {
  margin: 0;
  background-color: #000000;
  margin-top: 2.5rem;
}

figure {
  margin: 0 0 2rem 0;
}

img {
  width: 100%;
  height: 100%;
}

.profileImage {
  margin-top: 3rem;
  width: 70%;
  height: auto;
}

h1 {
  letter-spacing: 0.5rem;
  color: #fff800;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 1rem;
  font-family: "Big Shoulders Display", Sans-Serif;
}

.headerGlow {
  animation: headerGlow 2s ease-in-out infinite alternate;
}

@keyframes headerGlow {
  from {
    text-shadow: 0 0 0.625rem #ffffff, 0 0 1.25rem #fff, 0 0 1.875rem #e60073,
      0 0 2.5rem #e60073, 0 0 3.125rem #e60073, 0 0 3.75rem #e60073,
      0 0 4.375rem #e60073;
  }
  to {
    text-shadow: 0 0 1.25rem #ffffff, 0 0 1.875rem #fff800, 0 0 2.5rem #fff800,
      0 0 3.125rem #fff800, 0 0 3.75rem #fff800, 0 0 4.375rem #fff800,
      0 0 5rem #fff800;
  }
}

.headerSecondColor {
  color: #9a3c88;
}

p {
  font-size: 1.3rem;
  text-align: left;
  margin: 2rem;
  color: #ffffff;
}

.field {
  font-weight: bold;
}

figcaption {
  color: #ffffff;
  letter-spacing: 0.2rem;
}

.app {
  font-family: "Roboto Mono", sans-serif;
  text-align: center;
  margin: 0.5rem auto;
  width: auto;
  max-width: 35rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #000000;
  color: #fff800;
  border: 0.1rem solid #9a3c88;
  text-transform: uppercase;
  width: 6rem;
  height: 3rem;
  margin: 1.5rem;
  border-radius: 2px;
}

button:hover {
  color: #ffffff;
  border: 0.1rem solid #ffffff;
}

button:focus {
  color: #ffffff;
  border: 0.1rem solid #ffffff;
  outline: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ffffff;
}
